.сountCombo {
  @include block();
  margin: 135px 0 205px 0;

  @media (max-width: $screen_lg) {
    margin: 120px 0 200px 0;
  }

  &__cont {
    @include block();
    @include image('сount-combo/fon-1.svg', auto 100%, left 70px top 0);
    justify-content: space-between;
    padding: 64px 90px 80px 312px;
    background-color: #1C1C1C;
    border-radius: 12px;

    @media (max-width: $screen_xl) {
      background-position: left 10px top 0;
      padding: 64px 60px 80px 200px;
    }

    @media (max-width: $screen_lg) {
      @include image('сount-combo/fon-2.svg', auto 100%, left 35px top 0);
    }

    @media (max-width: $screen_md) {
      @include image('сount-combo/mobile-1.svg', 100% auto, left 0 top -70px);
      padding: 122px 30px 40px 30px;
    }

    @media (max-width: $screen_sm) {
      background-position: left 0 top -30px;
    }

    @media (max-width: $screen_xs) {
      background-position: left 0 top 10px;
    }
  }

  &__text {
    @include flex();
    flex-direction: column;

    > h2 {
      margin-bottom: 6px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 56px;
      color: $color_text_white;

      @media (max-width: $screen_lg) {
        margin-bottom: 26px;
      }

      @media (max-width: $screen_md) {
        font-size: 24px;
        line-height: 32px;
      }

      @media (max-width: $screen_md) {
        margin-bottom: 14px;
      }
    }

    > p {
      font-size: 14px;
      line-height: 20px;
      color: #C6C6C6;

      span {
        font-size: inherit;
        line-height: inherit;
        color: $color_text_blue;
      }
    }
  }

  &__form {
    @include flex();
    flex-wrap: wrap;
    margin-top: 40px;

    @media (max-width: $screen_lg) {
      display: block;
      margin-top: 60px;
    }

    @media (max-width: $screen_md) {
      margin-top: 30px;
    }

    &-box {
      position: relative;
      width: 50%;

      @media (max-width: $screen_lg) {
        width: auto;
      }

      &:nth-child(2n + 1) {
        padding-right: 39px;

        @media (max-width: $screen_lg) {
          padding-right: 0;
        }
      }

      &:nth-child(2n + 0) {
        padding-left: 39px;

        @media (max-width: $screen_lg) {
          padding-left: 0;
        }
      }

      &:last-child {
        @media (max-width: $screen_lg) {
          margin-top: 60px;
        }

        @media (max-width: $screen_md) {
          margin-top: 30px;
        }
      }

      .select-full {
        margin-bottom: 60px;

        @media (max-width: $screen_lg) {
          margin-bottom: 0;
        }
      }
    }

    &-plus {
      @include image('plus-dark.svg', 16px auto, center);
      position: absolute;
      display: block;
      top: 15px;
      right: -15px;
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: $color_white;

      @media (max-width: $screen_lg) {
        position: relative;
        top: auto;
        right: auto;
        margin: 24px auto;
      }
    }

    .inputBox, .button {
      width: 100%;
    }

    .inputBox {
      margin-bottom: 20px;
    }
  }

  &__price {
    @include flex();
    align-items: flex-end;
    margin: 7px 0 24px 0;

    @media (max-width: $screen_lg) {
      margin: 67px 0 24px 0;
    }

    @media (max-width: $screen_md) {
      margin: 36px 0 20px 0;
    }

    @media (max-width: $screen_xs) {
      justify-content: space-between;
    }

    &-title {
      position: relative;
      min-width: 155px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: $color_text_white;

      @media (max-width: $screen_md) {
        min-width: 140px;
        font-size: 18px;
        line-height: 28px;
      }

      @media (max-width: $screen_xs) {
        min-width: auto;
        padding-right: 15px;
      }
    }

    &-value {
      position: relative;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      color: $color_text_blue;
      white-space: nowrap;
      text-transform: uppercase;
      background: linear-gradient(0deg, #09AFE9 0%, #1FDBCB 100%, #8AA9D6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: $screen_md) {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  &__oldprice {
    @include flex();
    align-items: flex-end;
    margin-bottom: 24px;

    @media (max-width: $screen_xs) {
      justify-content: space-between;
    }

    &-title {
      position: relative;
      min-width: 155px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #B9B9B9;

      @media (max-width: $screen_md) {
        min-width: 140px;
        font-size: 16px;
        line-height: 20px;
      }

      @media (max-width: $screen_xs) {
        min-width: auto;
        padding-right: 15px;
      }
    }

    &-value {
      position: relative;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #B9B9B9;
      white-space: nowrap;

      @media (max-width: $screen_md) {
        font-size: 18px;
        line-height: 22px;
      }

      &:after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #B9B9B9;
        content: '';
      }
    }
  }

  &__saving {
    @include flex();
    align-items: flex-end;

    @media (max-width: $screen_xs) {
      justify-content: space-between;
    }
    
    &-title {
      position: relative;
      min-width: 155px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: $color_text_white;

      @media (max-width: $screen_md) {
        min-width: 140px;
        font-size: 16px;
        line-height: 20px;
      }

      @media (max-width: $screen_xs) {
        min-width: auto;
        padding-right: 15px;
      }
    }

    &-value {
      position: relative;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $color_text_white;
      white-space: nowrap;

      @media (max-width: $screen_md) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
