.title {
  @include block();

  &__block {
    @include flex();
    justify-content: space-between;
    align-items: flex-end;
  }

  &__value {
    @include inline_block();

    > h2 {
      @include inline_block();

      > span {
        @include inline_block();
        margin-right: 8px;
        font-family: 'ZonaPro', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;

        @media (max-width: $screen_md) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    &-dark {
      color: $color_text_dark;
    }

    &-red {
      color: $color_text_red;
    }
  }

  &__link {
    @include image('arrow-dark-right.svg', 8px 12px, right);
    position: relative;
    padding-right: 19px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: $color_text_dark;
    text-decoration: none;
    white-space: pre;

    @media (max-width: $screen_md) {
      display: none;
    }
  }
}

.titleLink {
  position: relative;
  display: none;
  margin-top: 35px;

  @media (max-width: $screen_md) {
    display: block;
  }

  a {
    @include image('arrow-dark-right.svg', 8px 12px, right);
    position: relative;
    padding-right: 19px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: $color_text_dark;
    text-decoration: none;
    white-space: pre;
  }
}

.titleShowMore {
  @include flex();
  justify-content: center;

  &__butt {
    @include inline_block();
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: $color_text_dark;
    cursor: pointer;

    &:after {
      @include image('arrow-dark-down.svg', contain, center);
      @include inline_block();
      top: 5px;
      margin-left: 7px;
      width: 10px;
      height: 6px;
      content: '';
    }

    b {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;
    }
  }
}

.inputBox {
  @include block();

  &__cont {
    @include block();
    width: 100%;
    height: 44px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 20px;
    color: #C6C6C6;
  }
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $color_text_dark;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(180deg, #1FDBCB 0%, #09AFE9 100%);
}

.button-empty {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $color_text_white;
  border: 1px solid #1FDBCB;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

  > span {
    position: relative;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
  }

  &:before {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: '';
    border-radius: inherit;
    background: linear-gradient(180deg, #1FDBCB 0%, #09AFE9 100%);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  &:hover {
    color: $color_text_dark;
    border-color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

.button-play {
  @include image('play.svg', contain, center);
  position: absolute;
  width: 132px;
  height: 132px;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: $screen_md) {
    width: 106px;
    height: 106px;
  }

  &:before {
    @include image('chevron-right.svg', contain, center);
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -6px;
    content: '';
    transition: transform 0.25s;
  }

  &--white {
    &:before {
      @include image('chevron-right-white.svg', contain, center);
    }
  }

  &:hover {
    &:before {
      transform: scale(1.45);
    }
  }
}

.select-full {
  $select: &;
  @include block();
  z-index: 1;

  &__title {
    @include block();
    height: 60px;
    border-radius: 4px;
    background-color: $color_white;
    cursor: pointer;

    &:after {
      @include image('arrow-dark-down.svg', contain, center);
      position: absolute;
      top: 50%;
      right: 19px;
      width: 10px;
      height: 6px;
      margin-top: -3px;
      content: '';
      transition: transform 0.2s;
      z-index: 1;
    }
  }

  &__box {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    
    &:nth-child(1) {
      align-items: center;
      width: 56px;
      padding-right: 7px;
    }

    &:nth-child(2) {
      width: 100%;
      padding: 0 50px 0 56px;
    }
  }

  &__img {
    position: relative;
  }

  &__name, &__price {
    @include block();
    margin: 2px 0;
    font-size: 14px;
    line-height: 16px;
    color: $color_dark;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__list {
    position: absolute;
    display: none;
    left: 0;
    top: 64px;
    width: 100%;
    border-radius: 4px;
    background-color: $color_white;
    overflow: hidden;
    
    &-cont {
      @include block();

      li {
        @include flex();
        height: 56px;
        cursor: pointer;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
          background: linear-gradient(104.22deg, #DDDADD 2.77%, #C1CAC9 96.39%);
          transition: opacity 0.15s;
          opacity: 0;
        }

        &:after {
          @include image('check-blue.svg', contain, center);
          position: absolute;
          top: 50%;
          right: 16px;
          width: 16px;
          height: 12px;
          margin-top: -6px;
          content: '';
          transition: opacity 0.1s;
          opacity: 0;
        }

        &:hover {
          &:before {
            opacity: 1;
          }
        }

        &.active {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  &.active {
    #{$select}__title {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.link-back {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  a {
    @include inline_block();
    @include image('arrow-slider-dark-left.svg', auto 14px, left 0 center);
    min-height: 16px;
    padding-left: 23px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.01em;
    color: $color_text_dark;
  }
}

.social-networks {
  @include flex();
  flex-wrap: wrap;

  li {
    @include inline_block();
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  a {
    @include block();
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    background-color: $color_white;
  }

  &-fb {
    @include image('social-networks/fb-right.svg', 13px auto, center);
  }
}

.text-block {
  @include block();
  margin: 60px 0;
  padding: 60px;
  background: rgba(174, 174, 174, 0.3);
  border: 1px solid rgba(238, 238, 238, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 12px;

  p {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $color_text_dark;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.map {
  @include block();

  &__info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;

    span {
      @include block();
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $color_text_dark;
    }
  }

  &__cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
