.header {
  $header: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: background-color 0.2s;

  &.active {
    background-color: #1C1C1C;
  }

  &__block {
    @include block();
  }

  &__cont {
    @include flex();
    justify-content: space-between;
    height: $height_height;

    @media (max-width: $screen_lg) {
      height: $height_height_mobile;
    }

    &-logo {
      display: flex;

      @media (max-width: $screen_md) {
        width: 50%;
      }
    }

    &-menu {
      display: flex;
      align-items: center;

      @media (max-width: $screen_md) {
        width: 50%;
      }
    }
  }

  &__logo {
    @include block();
    min-width: 200px;
    height: 24px;
    margin-top: 28px;

    @media (max-width: $screen_lg) {
      min-width: 170px;
      height: 20px;
    }

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      transition: opacity 0.2s;
    }

    &:before {
      @include image('logo.png', contain, center);
    }

    &:after {
      @include image('logo-dark.png', contain, center);
      opacity: 0;
    }
  }

  &__menu {
    $menu: &;
    display: flex;
    margin: 18px 0;

    @media (max-width: $screen_md) {
      display: none;
    }

    > li {
      display: inline-block;
    }

    > li > a, 
    #{$menu}-arrow {
      display: block;
      align-items: center;
      height: 40px;
      padding-top: 11px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: $color_text_white;
      letter-spacing: 0.01em;
      text-decoration: none;
    }

    #{$menu}-arrow {
      padding: 0;
      margin: 0 9px;

      @media (max-width: $screen_xl) {
        margin: 0;
      }

      > a {
        padding: 11px 41px 0 23px;
        position: relative;
        height: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        letter-spacing: inherit;
        text-decoration: none;

        @media (max-width: $screen_lg) {
          padding: 11px 31px 0 18px;
        }

        &:before, &:after {
          position: absolute;
          top: 50%;
          right: 22px;
          width: 11px;
          height: 7px;
          margin-top: -5px;
          content: '';

          @media (max-width: $screen_lg) {
            right: 12px;
          }
        }

        &:before {
          @include image('arrow-white-down.svg', contain, center);
          opacity: 1;
        }

        &:after {
          @include image('arrow-dark-down.svg', contain, center);
          opacity: 0;
        }
      }

      &:hover {
        background: linear-gradient(104.22deg, #DDDADD 2.77%, #C1CAC9 96.39%);

        > a {
          color: #1C1C1C;

          &:before {
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }
        }

        #{$header}__submenu {
          display: block;
        }
      }
    }

    #{$menu}-border {
      border-color: $color_white;
      margin: 0 27px;

      @media (max-width: $screen_xl) {
        margin: 0 15px;
      }

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__submenu {
    $submenu: &;
    position: absolute;
    display: none;
    top: 60px;
    right: 0;
    width: 820px;
    padding-top: 4px;

    @media (max-width: $screen_xl) {
      width: 600px;
    }

    @media (max-width: $screen_lg) {
      top: 55px;
      width: 500px;
    }

    &-block {
      @include flex();
      min-height: 390px;
      padding: 42px 60px 30px 60px;
      background: linear-gradient(104.22deg, #DDDADD 2.77%, #C1CAC9 96.39%);
      border-radius: 12px;

      @media (max-width: $screen_xl) {
        min-height: auto;
        padding: 22px 30px 30px 30px; 
      }
    }

    &-box {
      position: relative;
    }

    &-name {
      @include block();
      max-width: 165px;
      margin-bottom: 37px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $color_text_dark;
      text-decoration: none;

      @media (max-width: $screen_xl) {
        max-width: 140px;
        font-size: 18px;
        line-height: 26px;
      }

      @media (max-width: $screen_lg) {
        max-width: 120px;
        margin-bottom: 25px;
      }

      &:hover {
        text-decoration:underline;
      }
    }

    &-discount {
      @include block();
      margin: 38px 60px 0 0;

      @media (max-width: $screen_xl) {
        margin-right: 40px;
      }

      @media (max-width: $screen_lg) {
        margin: 28px 0 0 0;
      }

      > img {
        @include block();
        max-width: 200px;
        border-radius: 12px;

        @media (max-width: $screen_xl) {
          max-width: 160px;
        }

        @media (max-width: $screen_lg) {
          max-width: 80px;
          border-radius: 6px;
        }
      }
    }

    &-list {
      @include flex();

      ul {
        @include block();

        li {
          @include block();
          max-width: 200px;
          margin-bottom: 20px;
          padding-right: 20px;
  
          @media (max-width: $screen_xl) {
            max-width: 160px;
            margin-bottom: 20px;
          }

          @media (max-width: $screen_lg) {
            padding-right: 15px;
          }
        }
  
        a {
          display: inline;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: $color_text_dark;
          text-decoration: none;
  
          @media (max-width: $screen_xl) {
            font-size: 14px;
            line-height: 18px;
          }
  
          &:hover {
            text-decoration:underline;
          }
        }
  
        b {
          @include block();
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #B9B9B9;
        }
      }

      &--double {
        ul {
          &:not(:last-child) {
            min-width: 240px;

            @media (max-width: $screen_xl) {
              min-width: 180px;
            }
          } 
        }
      }
    }

    &--full {
      width: calc(100% + 40px);
      left: -20px;

      @media (max-width: $screen_xl) {
        width: 100%;
        left: auto;
      }

      #{$submenu}-box {
        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          width: 21%;
        }

        // @media (max-width: $screen_xl) {
        //   width: 50% !important;
        //   order: 0;

        //   &:nth-child(1) {
        //     order: 1;
        //   }
        // }
      }
    }
  }

  &__phone {
    @include inline_block();
    margin-left: 31px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: $color_text_white;
    text-decoration: none;
    white-space: nowrap;

    @media (max-width: $screen_lg) {
      margin-left: 20px;
    }

    @media (max-width: $screen_md) {
      display: none;
    }
  }

  &__navMobile {
    position: absolute;
    display: none;
    top: 26px;
    right: -7px;
    width: 30px;
    cursor: pointer;
    z-index: 1001;
    user-select: none;

    @media (max-width: $screen_md) {
      display: block;
    }

    span {
      @include block();
      height: 2px;
      margin: 4px 4px;
      background-color: #fff;
      border-radius: 100px;
      transition: all 0.2s;
    }

    &.active {
      span {
        background-color: #0D1C2E;
        
        &:nth-child(1) {
          transform: translate(0px, 6px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translate(0px, -6px) rotate(45deg);
        }
      }
    }
  }
}
