.helpChoosing {
  @include block();
  margin-top: 148px;

  &__cont {
    @include flex();
    @include image('help-choosing/fon-1.png', auto 100%, left 45px top 0);
    justify-content: space-between;
    min-height: 322px;
    background-color: #1C1C1C;
    border-radius: 12px;

    @media (max-width: $screen_lg) {
      @include image('help-choosing/mobile-1.png', auto 100%, left 10px top 0);
      display: block;
    }

    @media (max-width: $screen_md) {
      background-image: none;
    }
  }

  &__text {
    @include flex();
    flex-direction: column;
    padding: 64px 0 60px 225px;

    @media (max-width: $screen_xl) {
      padding: 64px 0 60px 170px;
    }

    @media (max-width: $screen_lg) {
      display: block;
      padding: 64px 100px 0 200px;
    }

    @media (max-width: $screen_md) {
      padding: 32px 30px 0 30px;
    }

    > h2 {
      margin-bottom: 26px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 56px;
      color: $color_text_white;

      @media (max-width: $screen_md) {
        font-size: 24px;
        line-height: 32px;
      }

      @media (max-width: $screen_md) {
        margin-bottom: 14px;
      }
    }

    > p {
      font-size: 14px;
      line-height: 20px;
      color: #C6C6C6;
    }
  }

  &__form {
    @include flex();
    flex-direction: column;
    padding: 67px 112px;

    @media (max-width: $screen_xl) {
      padding: 67px 60px;
    }

    @media (max-width: $screen_lg) {
      display: block;
      padding: 60px 60px 80px 200px;
    }

    @media (max-width: $screen_md) {
      padding: 30px 30px 40px 30px;
    }

    .inputBox, .button {
      min-width: 312px;

      @media (max-width: $screen_xl) {
        min-width: 260px;
      }

      @media (max-width: $screen_lg) {
        width: 100%;
        min-width: auto;
      }
    }

    .inputBox {
      margin-bottom: 20px;
    }
  }
}
