.news {
  @include block();
  margin-top: 208px;

  @media (max-width: $screen_md) {
    margin-top: 160px;
  }

  &__cont {
    @include flex();
    flex-wrap: wrap;
    margin: 50px -12px 0 -12px;

    @media (max-width: $screen_md) {
      margin-top: 27px;
    }

    &-box {
      position: relative;
      width: 25%;
      padding: 12px;

      @media (max-width: $screen_md) {
        width: 33.33%;

        &:nth-child(4n + 0) {
          display: none;
        }
      }

      @media (max-width: $screen_sm) {
        width: 50%;
      }

      a {
        @include block();
        width: 100%;
      }

      img {
        @include block();
        width: 100%;
        border-radius: 12px;
      }
    }
  }
}
