.news {
  $news: &;
  @include block();

  &__cont {
    $cont: &;
    @include flex();
    flex-wrap: wrap;
    margin: 50px -12px 0 -12px;

    @media (max-width: $screen_md) {
      margin-top: 27px;
    }

    &-box {
      position: relative;
      width: 25%;
      padding: 12px;

      @media (max-width: $screen_lgg) {
        width: 33.33%;
      }

      @media (max-width: $screen_sm) {
        width: 50%;
      }

      a {
        @include block();
        width: 100%;
      }

      img {
        @include block();
        width: 100%;
        border-radius: 12px;
      }
    }

    &--three {
      #{$cont}-box {
        width: 33.33%;

        @media (max-width: $screen_sm) {
          width: 50%;
        }
      }
    }
  }

  .titleShowMore {
    margin-top: 20px;
  }

  &--main {
    #{$news}__cont-box {
      @media (max-width: $screen_lgg) {
        &:nth-child(4n + 0) {
          display: none;
        }
      }
    }
  }
}
