.otherProjects {
  @include block();
  margin-top: 163px;
  margin-bottom: 289px;
  
  @media (max-width: $screen_md) {
    margin-bottom: 180px;
  }

  &__cont {
    @include flex();
    margin-top: 56px;
    overflow-x: auto;
    padding: 0 ($side_normal / 2);

    @media (max-width: $screen_md) {
      margin-top: 38px;
      padding: 0 ($side_normal - 8px);
    }
  }

  &__box {
    @include inline_block();
    margin: 0 12px;

    @media (max-width: $screen_md) {
      margin: 0 8px;
    }
    
    a {
      position: relative;
    }

    img {
      position: relative;
    }
  }
}
