.ourSchool {
  @include block();
  margin-top: 164px;
  
  &__description {
    @include block();
    margin-top: 30px;

    > p {
      font-size: 18px;
      line-height: 30px;
      color: $color_text_dark;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__sliderCont {
    @include block();

    &-counter {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 60px;
      left: 50%;
      bottom: -41px;
      margin-left: -30px;

      @media (max-width: $screen_md) {
        left: auto;
        right: 14px;
        top: -39px;
        bottom: auto;
        margin-left: 0;
      }

      span {
        margin: 0 1px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: $color_text_dark;
      }
    }
  }

  &__slider {
    @include block();
    margin-top: 62px;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: $screen_md) {
      margin-top: 80px;
    }
    
    &-box {
      @include block();
      overflow: hidden;
      padding: 0 12px;
      border-radius: 12px;
   
      img {
        @include block();
        height: 400px;
        border-radius: 12px;

        @media (max-width: $screen_lg) {
          height: 272px;
        }

        @media (max-width: $screen_md) {
          height: 176px;
        }
      }
    }

    .slick-list {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      transform: translate3d(0,0,0);
    }

    .slick-track {
      position: relative;
      overflow: hidden;
      height: 400px;
      top: 0;
      left: 0;

      @media (max-width: $screen_lg) {
        height: 272px;
      }

      @media (max-width: $screen_md) {
        height: 176px;
      }
    }

    .slick-slide {
      display: block;
      float: left;
      height: 100%;
      min-height: 1px;

      > div {
        position: relative;
        display: block;
      }
    }

    .slick-arrow {
      @include image('arrow-slider-dark-right.svg', 7px auto, center);
      position: absolute;
      width: 30px;
      height: 30px;
      left: 50%;
      bottom: -47px;
      overflow: hidden;
      color: transparent;
      background-color: transparent;
      border: none;
      cursor: pointer;

      @media (max-width: $screen_md) {
        left: auto;
        bottom: auto;
        top: -47px;
      }
    }

    .slick-prev {
      margin-left: -47px;
      transform: rotate(180deg);

      @media (max-width: $screen_md) {
        margin-left: 0;
        right: 57px;
      }
    } 

    .slick-next {
      margin-left: 17px;

      @media (max-width: $screen_md) {
        margin-left: 0;
        right: 0;
      }
    } 
  }
}
