.popularCourses {
  $courses: &;
  @include block();
  margin-top: 145px;

  &__cont {
    @include flex();
    flex-wrap: wrap;
    margin: 62px -12px 0 -12px;

    @media (max-width: $screen_lg) {
      flex-wrap: nowrap;
      overflow: auto;
      margin: 62px -$side_normal 0 -$side_normal;
      padding: 0 ($side_normal / 2);
    }

    @media (max-width: $screen_md) {
      margin-top: 38px;
    }
  }

  &__item {
    @include flex();
    width: 33.33%;
    padding: 0 12px 24px 12px;

    @media (max-width: $screen_lg) {
      flex: none;
      width: 420px;
    }

    @media (max-width: $screen_md) {
      width: 370px;
    }
  }

  &__box {
    @include flex();
    flex-direction: column;
    min-height: 378px;
    padding: 42px 30px 36px 30px;
    background: linear-gradient(104.22deg, #DDDADD 2.77%, #C1CAC9 96.39%);
    border-radius: 12px;

    @media (max-width: $screen_md) {
      min-height: 386px;
      padding: 22px 20px 26px 20px;
    }

    &-top {
      @include flex();
      justify-content: space-between;

      &-cont {
        position: relative;
      }
    }

    &-title {
      @include block();
      padding-right: 30px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $color_text_dark;

      @media (max-width: $screen_md) {
        padding-right: 0;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-text {
      @include block();
      margin-top: 8px;

      @media (max-width: $screen_md) {
        margin-top: 16px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
        color: #1F1F1F;
      }
    }

    &-img {
      @include block();
    }

    &-list {
      @include flex();
      flex-wrap: wrap;
      margin-top: 24px;

      @media (max-width: $screen_md) {
        margin-top: 16px;
      }

      li {
        @include inline_block();
        width: 50%;
        padding-bottom: 24px;
      }

      b {
        @include block();
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $color_text_dark;
      }

      span {
        @include block();
        font-size: 14px;
        line-height: 20px;
        color: $color_text_dark;
      }
    }

    &-foot {
      @include flex();
      justify-content: space-between;
      align-items: center;
      margin: auto 0 0 0;
    }

    &-more {
      position: relative;
      padding-top: 1px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: $color_text_dark;
      text-decoration: none;
    }

    &-video {
      @include flex();
      @include image('chevron-right.svg', 12px 15px, left);
      align-items: center;
      padding: 1px 0 0 24px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: $color_text_dark;
      text-decoration: none;

      &--dark {
        @include image('chevron-right-dark.svg', 12px 15px, left);
      }
    }
  }

  &--column {
    #{$courses}__cont {
      @media (max-width: $screen_md) {
        display: block;
        overflow: hidden;
      }
    }

    #{$courses}__item {
      @media (max-width: $screen_md) {
        display: block;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 60px;
        }
      }

      @media (max-width: $screen_md) {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    #{$courses}__item {
      @media (max-width: $screen_md) {
        margin-bottom: 0 !important;
      }
    }

    #{$courses}__box {
      @media (max-width: $screen_md) {
        min-height: auto;
      }

      &-list {
        @media (max-width: $screen_md) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
