.teachers {
  @include block();

  &__cont {
    @include flex();
    flex-wrap: wrap;
    margin: 55px -12px 0 -12px;

    @media (max-width: $screen_lg) {
      display: block;
      margin: 55px -12px 0 -12px;
    }
  }

  &__item {
    position: relative;
    width: 50%;
    padding: 0 12px 24px 12px;

    @media (max-width: $screen_lg) {
      width: auto;
    }
  }

  &__box {
    @include flex();
    min-height: 232px;
    border: 1px solid rgba(238, 238, 238, 0.2);
    border-radius: 12px;

    @media (max-width: $screen_xl) {
      min-height: 220px;
    }

    @media (max-width: $screen_lg) {
      min-height: 232px;
    }

    @media (max-width: $screen_md) {
      display: block;
    }

    &-img {
      @include block();
      border-radius: 12px 0 0 12px;
      min-width: 200px;
      min-height: 100%;
      overflow: hidden;

      @media (max-width: $screen_xl) {
        min-width: 160px;
      }

      @media (max-width: $screen_lg) {
        min-width: 200px;
      }

      @media (max-width: $screen_md) {
        border-radius: 12px 12px 0 0;
        min-width: auto;
        min-height: auto;
      }

      a {
        @include block();
        min-height: 100%;
        text-decoration: none;

        @media (max-width: $screen_md) {
          min-height: auto;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: $screen_md) {
          @include block();
          top: auto;
          left: auto;
          width: 100%;
          height: auto;
          object-fit: fill;
        }
      }
    }

    &-cont {
      @include flex();
      flex: 1;
      flex-direction: column;
      padding: 32px 30px;
      background: rgba(174, 174, 174, 0.3);
      backdrop-filter: blur(3px);
      border-radius: 0 12px 12px 0;

      @media (max-width: $screen_xl) {
        padding: 18px 22px;
      }

      @media (max-width: $screen_lg) {
        padding: 32px 30px;
      }

      @media (max-width: $screen_md) {
        min-height: 222px;
        padding: 30px 30px 34px 30px;
        border-radius: 0 0 12px 12px;
      }

      h2 {
        @include block();
        margin-bottom: 21px;
        font-family: 'ZonaPro', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $color_text_dark;

        @media (max-width: $screen_md) {
          font-size: 18px;
          line-height: 22px;
        }
      }

      h3 {
        @include block();
        margin-bottom: 9px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $color_text_dark;

        @media (max-width: $screen_md) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      p {
        @include block();
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        color: #1F1F1F;
      }
    }

    &-more {
      @include inline_block();
      max-width: 0;
      margin: auto 0 0 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: $color_text_dark;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.teachersMain {
  @include block();
  margin-top: 140px;

  &__cont {
    @include flex();
    margin: 62px -12px 0 -12px;

    @media (max-width: $screen_lg) {
      overflow: auto;
      margin: 62px -$side_normal 0 -$side_normal;
      padding: 0 ($side_normal / 2);
    }

    @media (max-width: $screen_md) {
      margin-top: 38px;
      padding: 0 16px;
    }
  }

  &__item {
    @include flex();
    width: 25%;
    padding: 0 12px;

    @media (max-width: $screen_lg) {
      width: auto;
      min-width: 312px;
    }

    @media (max-width: $screen_md) {
      min-width: 305px;
      padding: 0 8px;
    }
  }

  &__box {
    @include block();

    &-img {
      @include block();
      border-radius: 12px 12px 0 0;
      height: 264px;
      overflow: hidden;

      @media (max-width: $screen_md) {
        height: 237px;
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-cont {
      @include flex();
      flex-direction: column;
      min-height: 266px;
      padding: 30px 30px 32px 30px;
      background: rgba(174, 174, 174, 0.3);
      border: 1px solid rgba(238, 238, 238, 0.2);
      backdrop-filter: blur(5px);
      box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.2);
      border-radius: 0 0 12px 12px;

      @media (max-width: $screen_md) {
        min-height: 214px;
        padding: 20px;
      }
    }

    &-name {
      @include block();
      margin-bottom: 21px;
      font-family: 'ZonaPro', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $color_text_dark;

      @media (max-width: $screen_md) {
        margin-bottom: 13px;
        font-size: 18px;
        line-height: 22px;
      }
    }

    &-subname {
      @include block();
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $color_text_dark;

      @media (max-width: $screen_md) {
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-text {
      @include block();
      margin-bottom: 28px;

      @media (max-width: $screen_md) {
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
        color: #1F1F1F;
      }
    }

    &-more {
      @include inline_block();
      max-width: 0;
      margin: auto 0 0 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: $color_text_dark;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.teachersDetail {
  @include block();

  &__block {
    @include flex();
    margin-top: 34px;
    border-radius: 12px;
    min-height: 550px;
    overflow: hidden;

    @media (max-width: $screen_lg) {
      flex-wrap: wrap;
    }

    &-img {
      @include block();
      width: 50%;

      @media (max-width: $screen_lg) {
        width: 100%;
        order: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: $screen_lg) {
          position: relative;
          top: auto;
          left: auto;
          width: 100%;
          height: auto;
          object-fit: fill;
        }
      }
    }

    &-cont {
      @include block();
      width: 50%;
      background: linear-gradient(104.22deg, #DDDADD 2.77%, #C1CAC9 96.39%);
      padding: 40px 80px 36px 100px;

      @media (max-width: $screen_xl) {
        padding: 40px 50px 36px 50px;
      }

      @media (max-width: $screen_lg) {
        width: 100%;
        padding: 45px 40px 60px 40px;
        order: 0;
      }

      @media (max-width: $screen_md) {
        padding: 32px 30px 55px 30px;
      }
    }

    &-text {
      @include block();
      margin-bottom: 30px;

      h1 {
        margin-bottom: 30px;
        font-family: 'ZonaPro', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        color: $color_text_dark;

        @media (max-width: $screen_md) {
          margin-bottom: 30px;
          font-size: 24px;
          line-height: 32px;
        }
      }

      h2 {
        margin-bottom: 24px;
        font-family: 'ZonaPro', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $color_text_dark;

        @media (max-width: $screen_md) {
          font-size: 18px;
          line-height: 22px;
        }
      }

      p {
        margin-top: 24px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: $color_text_dark;

        @media (max-width: $screen_md) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      ul {
        @include block();
        margin-top: 20px;

        li {
          @include block();
          padding-left: 20px;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0.02em;
          color: $color_text_dark;

          @media (max-width: $screen_md) {
            font-size: 16px;
            line-height: 24px;
          }

          &:before {
            position: absolute;
            top: 13px;
            left: 6px;
            width: 4px;
            height: 4px;
            border-radius: 1000px;
            background-color: $color_text_dark;
            content: '';

            @media (max-width: $screen_md) {
              top: 10px;
            }
          }
        }
      }
    }
  }

  &__slider {
    @include block();
    width: calc(100vh - 224px);
    margin: 0 0 106px 0;

    @media (max-width: $screen_xl) {
      width: calc(100vh - 200px);
    }

    @media (max-width: $screen_lg) {
      width: auto;
      margin: 0 -24px 106px -24px;
    }

    @media (max-width: $screen_md) {
      margin: 105px -24px 60px -24px;
    }

    .sliderImages {
      @include inline_block();
      margin: 0 -12px;

      @media (max-width: $screen_lg) {
        margin: 0;
      }

      @media (max-width: $screen_md) {
        @include block();
        margin: 0 0 0 8px;
      }

      &__slick-box {
        @media (max-width: $screen_lg) {
          padding: 0 0 0 24px;
        }

        @media (max-width: $screen_md) {
          padding: 0 0 0 16px;
        }
      }
    }
  }
}
