$path_img: '/images/';
$cont: '.container';

$time: 0.15s;
$side: 60px;
$side_normal: 15px;

$width_max: 1440px;
$width_min: 320px;

$screen_xl:  1650px;
$screen_lg:  1440px;
$screen_md:  1140px;
$screen_sm:  768px;
$screen_xs:  500px;

$color_fon: #E6E4E7;

$color_white: #fff;

$color_text_white: #fff;
$color_text_dark: #1C1C1C;
$color_text_red: #A0374A;
