$path_img: '/images/';
$cont: '.container';

$time: 0.15s;
$side: 24px;
$side_normal: 24px;

$width_max: 1368px;
$width_min: 320px;

$screen_xl:  1280px;
$screen_lg:  1024px;
$screen_lgg: 880px;
$screen_md:  767px;
$screen_sm:  600px;
$screen_xs:  400px;

$color_fon: #E6E4E7;

$color_white: #fff;

$color_text_white: #fff;
$color_text_dark: #1C1C1C;
$color_text_red: #A0374A;
