.videoBox {
  @include block();
  margin-top: 60px;

  @media (max-width: $screen_lg) {
    margin-top: 37px;
  }

  @media (max-width: $screen_md) {
    margin-top: 25px;
  }

  &__box {
    @include block();
    height: 320px;

    @media (max-width: $screen_md) {
      height: 160px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    border-radius: 12px;
  }

  .button-play {
    left: 50%;
    top: 50%;
    margin: -66px 0 0 -66px;

    @media (max-width: $screen_md) {
      margin: -53px 0 0 -53px;
    }
  }
}
